asgiref
certifi
crispy-bootstrap5
distlib
Django
django-crispy-forms
django-email
django-environ
filelock
MouseInfo
mysql-connector-python
numpy
opencv-contrib-python
pillow
pipenv
platformdirs
protobuf
psycopg2
PyAutoGUI
PyGetWindow
PyMsgBox
pyperclip
PyRect
PyScreeze
pytweening
setuptools
sqlparse
tzdata
virtualenv